<section class="item monster-action{{#unless item.flags.monsterblock.expanded}} compact{{/unless}}" title="{{#if @root.flags.editing}}{{ localize 'MOBLOKS5E.EditHint' }}{{/if}}">
	<div class="attack-description inline-children">
		{{#if @root.flags.show-delete}}
			<a class="delete-item" data-item-id="{{item._id}}">
				<i class="fa fa-trash"></i>
			</a>
		{{/if}}
		<span class="item-name" data-item-id="{{item._id}}">{{item.name}}</span>
		{{~#if item.hasresource~}}
			{{> "modules/monsterblock/templates/dnd5e/parts/resource.hbs" resource=item.resource}}
		{{~/if~}}
		{{ localize "MOBLOKS5E.NameDescriptionSep" }}
		{{#if @root.flags.attack-descriptions}}
		<span class="generated-text">			
				<span class="attack-type">
					{{~item.description.attackType~}}
					{{ localize "MOBLOKS5E.Colon" }}
				</span>
				<span class="item-attackRoll" data-item-id="{{item._id}}"><i class="fas fa-dice-d20"></i> {{item.description.tohit~}}</span>
			</span>{{ localize "MOBLOKS5E.Comma" }}
			<span>
				{{ item.description.range }}{{ localize "MOBLOKS5E.Comma" }}
				{{ item.description.target }}{{ localize "MOBLOKS5E.FullStop" }}
			</span>
			{{#if item.description.damage.length }}
				<span class="hit-label">
					{{ localize "MOBLOKS5E.AttackHitLabel" }}
				</span>
				{{#each item.description.damage as |part|}}
					{{#unless @first}}
						{{ localize "MOBLOKS5E.MultiDamageAttackConjunctionPlus" }}						
					{{/unless}}
					{{part.average}}
					(<span class="item-damageRoll" data-item-id="{{../item._id}}"><i class="fas fa-dice-d20"></i> {{part.formula}}</span>)
					{{moblok-toLowerCase type}}
					{{ localize "MOBLOKS5E.damage" }}
					{{~#if (and @first ../item.description.versatile)~}}
						{{ localize "MOBLOKS5E.Comma" }} {{ localize "MOBLOKS5E.Or" }} {{../item.description.versatile.average}}
						(<span class="item-damageRoll" data-item-id="{{../item._id}}" data-versatile="true"><i class="fas fa-dice-d20"></i> {{../item.description.versatile.formula}}</span>)
						{{moblok-toLowerCase type}}
						{{ localize "MOBLOKS5E.damageVersatile" }}
						{{~#unless @last}}{{ localize "MOBLOKS5E.Comma" }} {{/unless~}}
					{{~/if~}}
				{{~/each~}}			
			{{~/if~}}
			{{~#unless item.continuousDescription~}}
				{{ localize "MOBLOKS5E.FullStop" }}
			{{/unless~}}
			<span class="description">{{{moblok-enrichhtml item.data.description.value @root.owner @root.flags}}}</span>
		{{~/if~}}
	</div>
</section>