<h2 class="section-header">
	{{localize "DND5E.LegAct"}}
	{{#if flags.show-resources}}
	<span class="header-resource">
		<span class="resource-value"
			placeholder="0"
			contenteditable="{{@root.owner}}"
			data-dtype="Number"
			data-field-key="data.resources.legact.value">
			{{~data.resources.legact.value~}}
		</span> /
		<span class="resource-value"
			placeholder="0"
			contenteditable="{{@root.flags.editing}}"
			data-dtype="Number"
			data-field-key="data.resources.legact.max">
			{{~data.resources.legact.max~}}
		</span>
	</span>
	{{/if}}
</h2>
<section>
	<p class="special-description">
		{{ localize "MOBLOKS5E.LegendaryText" name=actor.name number=data.resources.legact.max}}
	</p>
	{{#each features.legendary.items as |item iid|}}
		{{#if item.is.legendary }}
		{{#unless item.is.legResist}}
			{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor specialaction=true flags=@root.flags}}
		{{/unless}}
		{{/if}}
	{{/each}}
</section>