<ul class="ability-scores flexrow">
{{#each abilities as |ability id|}}
	<li class="ability{{#if ability.proficient}} proficient{{/if}}" data-ability="{{id}}">
		<h4 class="ability-title box-title" title="{{ability.label}}">{{ability.abbr}}</h4>
		<a class="config-button" data-action="ability" title="Configure Ability Checks and Saving Throws"><i class="fas fa-cog"></i></a>
		<span class="attr-value"
			contenteditable="{{@root.flags.editing}}"
			placeholder="0"
			data-field-key="system.abilities.{{id}}.value"
			data-dtype="Number"
			title="{{localize "MOBLOKS5E.Score"}}">
			{{~ability.value~}}
		</span>
		<span class="ability-modifier" title="{{localize "MOBLOKS5E.Modifier"}}">({{numberFormat ability.mod decimals=0 sign=true}})</span>
	</li>
{{/each}}
</ul>
