<h4 class="attribute-name box-title">
	<a class="trigger" data-control="_onRollHPFormula">
		{{~localize "DND5E.HitPoints" }} 
	</a>
</h4>
{{~#unless (or flags.current-hit-points flags.maximum-hit-points)~}}
	<span title="{{ localize 'MOBLOKS5E.Average' }}" class="attr-value">{{data.attributes.hp.average}}</span>
{{~/unless~}}
{{#if flags.current-hit-points}}
	<span title="{{ localize 'MOBLOKS5E.Current' }}" 
		placeholder="0" 
		data-field-key="data.attributes.hp.value" 
		data-dtype="Number" 
		class="attr-value" 
		contenteditable="{{owner}}">
		{{~#if data.attributes.hp.value~}}
			{{~data.attributes.hp.value~}}
		{{~else~}}
			0
		{{~/if~}}
	</span>
{{~/if~}}
{{~#if (and flags.current-hit-points flags.maximum-hit-points)~}}
	<span class="sep"> / </span>
{{~/if~}}
{{~#if flags.maximum-hit-points~}}
	<span title="{{ localize 'MOBLOKS5E.Maximum' }}" 
		placeholder="0" 
		data-field-key="data.attributes.hp.max" 
		data-dtype="Number"
		class="attr-value" 
		contenteditable="{{owner}}">
		{{~#if data.attributes.hp.max~}}
			{{data.attributes.hp.max~}}
		{{~else~}}
			0
		{{~/if~}}
	</span>
{{/if}}

<span class="paren">(</span>{{~" "~}}
<span title="Average: {{data.attributes.hp.average}}"
	placeholder="1d6"
	data-field-key="data.attributes.hp.formula"
	data-dtype="Roll"
	class="attr-value"
	contenteditable="{{flags.editing}}">
		{{~data.attributes.hp.formula~}}
</span>{{~" "~}}
<span class="paren">)</span>