<header class="sheet-header">
	<h1 class="charname" contenteditable="{{flags.editing}}" data-field-key="name"
		placeholder="{{localize "DND5E.Name"}}">{{actor.name}}</h1>
	{{#unless flags.hide-profile-image}}
		<figure class="profile-image">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}{{#if flags.editing}} - {{localize "MOBLOKS5E.EditHint"}}{{/if}}">
		</figure>
	{{/unless}}
</header>
<main class="bio-box">
	<h4 class="attribute-name source">{{localize sourceStringId}}:</h4>
	<span contenteditable="{{flags.editing}}" data-field-key="system.details.source"
		placeholder="{{localize sourceStringId}}">{{data.details.source}}</span>
	<h2 class="section-header">{{localize "DND5E.Biography"}}</h2>
	<section class="biography active">
		{{editor system.details.biography.value target="system.details.biography.value" button=(and owner flags.editing) owner=owner editable=flags.editing}}
	</section>
</main>