<main class="main-section{{#if menus.features.visible}} menu-active{{/if}}">
	{{! Features Menu }}
		{{#if flags.editing}}
			{{> "modules/monsterblock/templates/dnd5e/parts/menuItem.hbs" item=menus.features}}
			{{#unless (or features.features.items.length info.hasActions info.hasBonusActions info.hasLair info.hasLegendaryActions info.hasReactions)}}
			<p class="menu-hint">{{ localize "MOBLOKS5E.EditButtonHint"}}</p>
			{{/unless}}
		{{/if}}

	{{! Spellcasting Features }}
		{{#each features.casting.items as |casting id|}}
			{{#if @root.flags.casting-feature}}
				{{> "modules/monsterblock/templates/dnd5e/parts/main/spellcasting.hbs" casting=casting}}
			{{else}}
				{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=casting actor=@root.actor}}
			{{/if}}
		{{/each}}

	{{! Non-action Features }}
		{{#each features.features.items as |item iid|}}
			{{#unless item.is.specialAction}}
				{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor flags=@root.flags}}
			{{/unless}}
		{{/each}}

		{{! Legendary Resistance }}
		{{#if features.legResist.items}}
			{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=features.legResist.items.[0] actor=actor flags=flags}}
		{{/if}}

	{{! Actions }}
		{{#if info.hasActions}}
			<h2 class="section-header" >{{localize "DND5E.ActionPl"}}</h2>
		{{/if}}

		{{! Multiattack }}
		{{#if features.multiattack.items}}
			{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=features.multiattack.items.[0] actor=actor flags=flags}}
		{{/if}}

		{{! Attacks }}
		{{#each features.attacks.items as |item iid|}}
			{{#unless item.is.specialAction}}
				{{> "modules/monsterblock/templates/dnd5e/parts/main/attack.hbs" item=item}}
			{{/unless}}
		{{/each}}

		{{! Other Actions}}
		{{#each features.actions.items as |item iid|}}
			{{#unless item.is.specialAction}}
				{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor flags=@root.flags}}
			{{/unless}}
		{{/each}}

	{{! Bonus Actions }}
		{{#if info.hasBonusActions}}
			<h2 class="section-header">{{localize "MOBLOKS5E.BonusActions"}}</h2>
			{{#each features.bonus.items as |item iid|}}
				{{#if item.is.bonus}}
					{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor flags=@root.flags}}
				{{/if}}
			{{/each}}
		{{/if}}		

	{{! Reactions }}
		{{#if info.hasReactions}}
			<h2 class="section-header">{{localize "MOBLOKS5E.Reactions"}}</h2>
			{{#each features.reaction.items as |item iid|}}
				{{#if item.is.reaction}}
					{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor flags=@root.flags}}
				{{/if}}
			{{/each}}
		{{/if}}
	{{! Legendary Actions }}
		{{#if info.hasLegendaryActions}}
			{{> "modules/monsterblock/templates/dnd5e/parts/main/legendaryActs.hbs"}}
		{{/if}}

	{{! Mythic Actions }}
		{{#if info.hasMythicActions}}
			<h2 class="section-header">{{localize "MOBLOKS5E.MythicActions"}}</h2>
			<p class="special-description">{{ localize "MOBLOKS5E.MythicActionText" name=actor.name trait=features.mythicTrait.items.[0].name}}</p>
			{{#each features.mythic.items as |item iid|}}
				{{> "modules/monsterblock/templates/dnd5e/parts/featureBlock.hbs" item=item actor=@root.actor flags=@root.flags specialaction=true}}
			{{/each}}
		{{/if}}

	{{! Lair Actions }}
		{{#if info.hasLair}}
			{{#if flags.show-lair-actions}}
				{{> "modules/monsterblock/templates/dnd5e/parts/main/lairActs.hbs"}}
			{{/if}}
		{{/if}}

	{{! Regional Effects }}
		{{#if (and flags.show-region-actions info.hasRegion)}}
			{{> "modules/monsterblock/templates/dnd5e/parts/main/regionActs.hbs"}}
		{{/if}}

	{{! Variant Features}}
		{{#if (and flags.show-variant info.hasVariant)}}
			{{> "modules/monsterblock/templates/dnd5e/parts/main/variantInfo.hbs" actor=@root.actor flags=@root.flags}}
		{{/if}}

	{{! Loot Items }}
		{{#if info.hasLoot}}
			<h2 class="section-header">{{localize "DND5E.Inventory"}}</h2>
			<section class="item monster-feature{{#unless item.flags.monsterblock.expanded}} compact{{/unless}}" title="{{#if  @root.flags.editing}}{{ localize 'MOBLOKS5E.EditHint' }}{{/if}}"></section>
			{{#each features.equipment.items as |item iid|}}
				{{> "modules/monsterblock/templates/dnd5e/parts/itemList.hbs" item=item actor=@root.actor flags=@root.flags}}
			{{/each}}
			</section>
		{{/if}}

	{{! Armor Items }}
		{{#if (and flags.editing info.hasArmor)}}
			<h2 class="section-header">{{localize "DND5E.Armor"}}</h2>
			<section class="item monster-feature{{#unless item.flags.monsterblock.expanded}} compact{{/unless}}" title="{{#if  @root.flags.editing}}{{ localize 'MOBLOKS5E.EditHint' }}{{/if}}"></section>
			{{#each features.armor.items as |item iid|}}
				{{> "modules/monsterblock/templates/dnd5e/parts/itemList.hbs" item=item actor=@root.actor flags=@root.flags}}
			{{/each}}
			</section>
		{{/if}}
</main>